*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
   background-color: fuchsia;
    font-family: 'Teko', sans-serif;
}

header{
    width: 100vw;
    height: 80vh;
    background-image: url('../IMG/img\ 1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-size: 40px;
    text-align: center;
}

.Principal{
    text-align: justify;
    margin: 20px;
}

.Principal article{
    border: 2px dotted rgb(238, 241, 238) ;
    margin: 10px 50px; 
    padding: 20px;
    text-align: center;
}

.principal h2{
    text-align: center;
    font-size: 30px;
    }
    
    .container-gal{
        width: 95%;  
        align-content: center;
        margin: 0 auto;
    }
    
    div.galeria{
        margin: 10px;
        box-shadow: 2px 4px 8px lightseagreen;
        width: 300px;
        margin: 0 auto;
        display: inline-block;
        margin-left: 10px;
    }
    
    .galeria img{
        width: 300px;
        height: 300px;
        margin: 10px auto;
    }
    
    footer{
        background-color: rgb(132, 221, 162);
        color: rgb(1, 8, 12);
        height: 50px;
        text-align: center;
        padding: 20px;
        font-size: 22px;   
    }